<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{site.title}}{% if page.title %} - {{page.title}}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-title" content="{{site.title}}" />
    <meta property="og:url" content="{{site.og.url}}" />
    <meta property="og:title" content="{{site.og.title}}" />
    <meta property="og:image" content="{{site.og.image}}" />
    <meta property="og:locale" content="{{site.og.locale}}" />
    <link rel="icon" href="/assets/favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" href="/assets/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.18/css/uikit.min.css" crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <style>
        html {
            overflow-y: scroll;
        }
    </style>
</head>