---
layout: default
---

<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-3-4@m">
            {% for project in site.data.projects %}
            <article class="uk-article">

                <h1 class="uk-article-title">
                    {{ project.title }}
                </h1>
                <em>
                    {% for skill in project.skills %}
                        <span class="uk-label uk-label-success">{{ skill }}</span>
                    {% endfor %}
                </em>
                <p>{{ project.description }}</p>
            </article>
            <hr/>
            {% endfor %}
        </div>

        {% include rightbar.html %}
    </div>
</div>